/* General Reset */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Lexend';
	color: #333;
	line-height: 1.6;
}

/* Top Bar */
.top-bar {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 14px;
}

.top-bar .contact-info span {
  margin-right: 20px;
}

.top-bar .social-icons a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

/* Navigation Bar */
.navbar {
	background: #fff;
	display: flex;
	justify-content: space-between;
	float: right;
	border-bottom: 1px solid #ddd;
	height: 60px;
}

.navbar .logo img {
  width: 50px;
}

.navbar .nav-links {
	list-style: none;
	display: flex;
	text-align: center;

}

.navbar .nav-links li {
  margin: 0 15px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #1F1F1F;
  font-weight: bold;
}

.navbar .nav-links a.active {
	color: #ff5e5e;
	padding-top: 0px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.hero-text h2 {
  font-size: 24px;
  letter-spacing: 2px;
}

.hero-text h1 span {
  font-size: 50px;
}

/* Services Section */
.services {
  display: flex;
  text-align: center;
	margin-top:-10px;
}

.service-box {
  flex: 1;
  padding: 40px 20px;
	
}

.service-box img {
  width: 50px;
  margin-bottom: 15px;
}

.service-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-box.fishing {
  background: #90d7ec;
  font-family: "lexend";
  background-image:url("assets/fishing-bg.png");
  background-size: 80%;
  background-repeat: no-repeat;

}

.service-box.photography {
  background: #333;
  color: #fff;
	background-image:url("assets/photography-bg.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

.service-box.videos {
  background: #e7d7cb;
	background-image:url("assets/video-bg.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

/* About Me Section */
/* About Me Section */
/* About Me Section */
.about-me {
  display: flex;
  padding: 50px 80px;
  align-items: center;
  background: #f9f9f9;
  background-image: url(assets/profile.png);
  background-size:cover;
  font-family: "lexend";
}

.about-text {
  flex: .5;
	
}

.about-text h4 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 20px;
}

.skills .skill {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.skills .skill span {
  font-size: 24px;
  margin-right: 15px;
}

.about-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar .nav-links {
      display: none;
      flex-direction: column;
      background: #fff;
      position: absolute;
      top: 70px;
      right: 20px;
      border: 1px solid #ddd;
      padding: 10px;
  }

  .navbar .nav-links li {
      margin: 10px 0;
  }

  .menu-toggle {
      display: block;
  }

  .about-me {
      flex-direction: column;
      text-align: center;
  }

  .about-image img {
      margin-top: 20px;
  }
}

.row {
	
}

.column-logo {
  float: left;
  width: 100px;
  height: 100px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-bars {
	height: 100px;
}

.logo1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	height: 100%;
	padding-top: 20px;
	
}

h1 {
	color: #1F1F1F;
	font-weight: 900;
	font-size: 6em;
	letter-spacing: .2em;
	margin-bottom: -50px;
	margin-left: -65px;
}

h2 {
	margin-bottom: -25%;
	color:#1F1F1F;
}

h5 {
	font-size:40px;
	font-family: "lexend";
	font-weight: 900;
}

.p-about-text {
	margin-top:-60px;
	font-family: "space grotesk"
}





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section{
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0 20px;
}
section .lightBox{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 100;
  display: none;
}
.lightBox .lightBox_content{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 950px;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.lightBox_content .close{
  position: absolute;
  top: 0;
  left: -40px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}
.lightBox_content .close:hover{
  opacity: 1;
}
section .logo_icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
section .logo_icons a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
section .logo_icons .logoImg{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
section .logo_icons .text_content{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.logo_icons .text_content .followers{
  font-size: 13px;
  margin-top: -5px;
}
section .logo_icons .icons i{
  height: 35px;
  width: 35px;
  background: #ccc;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lightBox .logo_icons .icons i:hover{
  color: #fff;
  background: #7d2ae8;
}
section .lightBox .showImg{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.lightBox .showImg .image{
  max-height: 700px;
  max-width: 900px;
}
.showImg .image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section .image-gallery{
  max-width: 1300px;
  min-height: 100vh;
  width: 100%;
  background: #fff;
  margin: auto;
}
.image-gallery header{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  background: #24292d;
  padding: 20px 0;
  letter-spacing: 1px;
}
.image-gallery .image-container{
  columns: 3;
  margin-top: 20px;
  gap: 15px;
}
.image-container img{
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.image-container .image-box{
  position: relative;
  cursor: pointer;
  margin: 10px 0;
}
.image-box .logo_icons{
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.image-box:hover .logo_icons{
  opacity: 1;
  pointer-events: auto;
}
.image-box .logo_icons .icons i{
  color: #b4b4b4;
  background: #fff;
}
.logo_icons .icons i:hover{
  color: #707070;
}
section .image-gallery .logo_icons .text_content{
  color: #fff;
  font-size: 14px
}
section .image-gallery .text_content .followers{
  font-size: 12px;
  font-weight: 400;
  margin-top: -4px;
}
@media (max-width: 1034px) {
  .lightBox_content .close{
    top: -40px;
    left: 10px;
  }
}
@media (max-width: 1002px) {
  .image-gallery .image-container{
    columns: 2;
  }
}
@media (max-width: 602px) {
  .image-gallery .image-container{
    columns: 1;
  }
@media (max-width: 602px) {
  .image-gallery header{
    font-size: 25px;
  }
}

}